<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>
<div class="chatbotIconDiv">
  <a href="/chatbot"><div class="chatbotIcon"></div></a>
</div>
<div class="booksContainer">
  <div class="booksDiv">
    <% data.items.forEach(book => { %>
    <div class="bookCard">
      <div class="thumbnail">
        <% try { %>
        <img
          src="<%= book.volumeInfo.imageLinks.thumbnail %>"
          alt="ThumbNail"
          class="thumbnailImage"
        />
        <% } catch (error) { %>
          <img src="" alt="Error Loading Image">
        <% } %>
      </div>
      <div class="bookInfo">
        <div class="bookInfoDiv">
          <div class="bookName poiret-one-regular">
            <%= book.volumeInfo.title %>
          </div>
          <div class="authorName poiret-one-regular">
            <%= book.volumeInfo.authors %>
          </div>
          <div class="categories poiret-one-regular">
            <%= book.volumeInfo.categories %>
          </div>
        </div>
        <div class="options">
          <div class="wishlistDiv" onclick="addWishlist()">
            <img
              src="/icons/bookmarks_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24.svg"
              alt="wishlist"
              class="wishlist"
            />
          </div>
          <div class="knowMore">
            <form action="/view/<%= book.id %>" method="post">
              <input type="submit" class="knowMoreBtn" value="View" />
            </form>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<%- include('./partials/footer.ejs') %>
